
<table style="margin: 0 auto;">
<tr>
<td>
<label for ="preg" class="rem"> Pregunta: </label>
</td>
<td>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %> "/> <p>
</td>
</tr>
<tr>
<td>
<label for ="resp" class="rem"> Respuesta: </label>
</td>
<td>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %> "/> <p>
</td>
</tr>
<tr>
<td>
<label for ="tema" class="rem"> Tema: </label>
<td align="left">
<select name="quiz[tema]">
  <option value="otro" <%if (quiz.tema==="Otro"){%> selected <%}%>>Otro</option>
  <option value="humanidades" <%if (quiz.tema==="humanidades"){%> selected <%}%>>Humanidades</option>
  <option value="ocio" <%if (quiz.tema==="ocio"){%> selected <%}%>>Ocio</option>
  <option value="ciencia" <%if (quiz.tema==="ciencia"){%> selected <%}%>>Ciencia</option>
  <option value="tecnologia" <%if (quiz.tema==="tecnologia"){%> selected <%}%>>Tecnología</option>
</select>
<p>
</td>
</tr>
</table>

<a href ="/quizes"> <button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
